@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100&family=Playfair+Display&display=swap');
* {
    margin: 0px;
    box-sizing: border-box;
}

h1 {
    color: #FFFA87;
    text-shadow: 2px 2px 2px #000000;
    font-family: 'Playfair Display', sans-serif;
}

h2 {
    font-family: 'Playfair Display' sans-serif;
    text-align: center;
}

h4 {
    font-family: 'Dosis', sans-serif;
    color: #666666;
    text-align: center;
}

h5 {
    color: #FFFFFF;
    text-align: right;
    font-family: 'Playfair Display' sans-serif;
    text-shadow: 2px 2px 2px #000000;
}

p, label {
    font-family: 'Overpass', sans-serif;
}

footer {
    background-color: #000000;
    color: #FFFFFF;
    margin: 50px 0px 0px 0px;
}

a:link, a:visited {
    text-decoration: none;
    color: #FFFFFF;
}

input {
    outline: 0;
    border-width: 0 0 1px;

}


.quemsoueufoto {
    width: 50%;
    box-shadow: 5px 5px 5px #737373;
    margin-left: 30%;
}

.bgcinza {
    background-color: #EFEFEF;
}

.iconefooter {
    background-color: #FFFFFF;
    border-radius: 50%;
}

.wid100 {
    width: 100%;
}

.sombreado {
    box-shadow: 5px 5px 5px #737373;
}

.titulo{
    font-weight: bold;
    color: #0007A5;
    font-size: 14px;
    margin:10px;
}
.subtitulo{
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
    margin:10px;
}
.descricao{
    font-size: 14px;
    margin:10px;
}
.imgfooter{
    width: 50px;
}

.botao{
    background-color: #4BAFFE;
    border: 0;
    font-weight: bold;
    color: #FFFFFF;
    margin: 30px 0px;
    padding: 10px 70px 10px 70px;
}

.cttofoto {
    width: 100%;
    box-shadow: 5px 5px 5px #737373;
}

.ccaption{
    background-color: #ffffff70;
    text-align: center;

}